{% extends "base.html" %}
{% block content %}

<p>Este é um projeto desenvolvido de forma colaborativa entre usuários lusófonos.
<br/>This is a project developed in collaboration between Portuguese Wikimedia projects users.</p>
<h3 style="display: block; margin-top: 1em;">Edições e grupos de usuário</h3>
<p>Exibe para um determidado usuário o número de edições totais e no domínio principal, número de páginas criadas no domínio principal, direito a voto, 
grupos a que o usuário pertence e direito de se candidatar a administrador e eliminador.</p>
<table style="margin: 1em auto 2em auto;">
  <tr>
    <td><b>Usuário:</b></td>
    <td><input id="user" type="text" onkeypress="return enter(event, this, 'Usuário:')"/></td>
  </tr>
</table>

<h3 style="display: block; margin-top: 1em;"><a href="{{ url_for('.index') }}Patrulhamento_de_IPs">Patrulhamento de IPs</a></h3>
<p>Gráfico das edições de IPs e edições de IPs patrulhadas por hora nos últimos 7 dias, e por dia nos últimos 30 dias.<br/>
<select style="margin-top:1em; border:1px solid #A7D7F9; background-color:#F6F6F6" onchange="location.href = location.href.substring(0, location.href.lastIndexOf('/')) + '/Patrulhamento_de_IPs:' + this.value">
  <option value="">Escolha o projeto</option>
  <option>Wikipédia</option>
  <option>Wikilivros</option>
  <option>Wikcionário</option>
  <option>Wikiversidade</option>
  <option>Wikinotícias</option>
  <option>Wikiquote</option>
  <option>Wikisource</option>
  <option>Wikivoyage</option>
</select></p>

<h3 style="display: block; margin-top: 1em;"><a href="{{ url_for('.index') }}Filtros">Filtros</a></h3>
<p>Gráfico dos registros de ações dos filtros nos últimos 30 dias.<br/>
<select style="margin-top:1em; border:1px solid #A7D7F9; background-color:#F6F6F6" onchange="location.href = location.href.substring(0, location.href.lastIndexOf('/')) + '/Filtros:' + this.value">
  <option value="">Escolha o projeto</option>
  <option>Wikipédia</option>
  <option>Wikilivros</option>
  <option>Wikcionário</option>
  <option>Wikiversidade</option>
  <option>Wikinotícias</option>
  <option>Wikiquote</option>
  <option>Wikisource</option>
  <option>Wikivoyage</option>
</select></p>

<h3 style="display: block; margin-top: 1em;"><a href="{{ url_for('.index') }}Editor_Visual">Editor Visual</a></h3>
<p>Gráfico das edições usando o Editor Visual nos últimos 30 dias.<br/>
<select style="margin-top:1em; border:1px solid #A7D7F9; background-color:#F6F6F6" onchange="location.href = location.href.substring(0, location.href.lastIndexOf('/')) + '/Editor_Visual:' + this.value">
  <option value="">Escolha o projeto</option>
  <option>Wikipédia</option>
  <option>Wikilivros</option>
  <option>Wikcionário</option>
  <option>Wikiversidade</option>
  <option>Wikinotícias</option>
  <option>Wikiquote</option>
  <option>Wikisource</option>
  <option>Wikivoyage</option>
</select></p>

<h3 style="display: block; margin-top: 1em;"><a href="{{ url_for('.index') }}Linha_do_tempo">Linha do tempo</a></h3>
<p>Gráfico com vários dados e eventos da Wikipédia.</p>

<h3 style="display: block; margin-top: 1em;"><a href="{{ url_for('.index') }}Interface_Movel">Interface móvel</a></h3>
<p>Gráfico das edições feitas na Wikipédia por interface móvel.</p>

<h3 style="display: block; margin-top: 1em;">Acessos</h3>
<p>Gráfico dos acessos à Wikipédia. <b>Em Manutenção</b></p>

<h3 style="display: block; margin-top: 1em;"><a href="{{ url_for('.index') }}Artigos_curtos">Artigos curtos</a></h3>
<p>Lista dos menores artigos da Wikipédia, sem contar as desambiguações</p>

<h3 style="display: block; margin-top: 1em;"><a href="{{ url_for('.index') }}Listas">Listas</a></h3>
<p>Lista de páginas utilizando diversos filtros</p>

<h3 style="display: block; margin-top: 1em;"><a href="{{ url_for('.index') }}Matriz">Matrizes</a></h3>
<p>Matrizes de classificação de qualidade e importância</p>

<h2>Ferramentas Globais</h2><hr>
<h3 style="display: block; margin-top: 1em;"><a href="{{ url_for('.index') }}common-iw">Artigos sem interwiki</a></h3>
<p>Lista artigos que existem na Wikipédia em inglês sem interwiki para um determinado idioma, ordenados pelo número de interwikis existentes.</p>
<p>Prefixo do idioma: <input id="user" type="text" text="pt" size=2 onkeypress="return enter(event, this, 'common-iw:')"/></p>

{% endblock %}

